@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.layout {
  display: grid;
  grid-template-areas: "topBar topBar topBar topBar topBar topBar" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard";
  min-height: 98vh;
  grid-gap: 1rem;
  overflow-x: hidden;
  padding: 1vh;
  transition: 1s;
  color: #f3f3f3;
  background-color: #1b1e28;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.layout__isDark {
  display: grid;
  grid-template-areas: "topBar topBar topBar topBar topBar topBar" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard dashboard";
  min-height: 98vh;
  grid-gap: 1rem;
  overflow-x: hidden;
  padding: 1vh;
  transition: 1s;
  background-color: #f3f3f3;
  color: #1b1e28;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .layout,
  .layout__isDark {
    grid-template-areas: "topBar topBar topBar topBar topBar topBar" "sidebar sidebar sidebar sidebar sidebar sidebar" "dashboard dashboard dashboard dashboard dashboard dashboard" "dashboard dashboard dashboard dashboard dashboard dashboard" "dashboard dashboard dashboard dashboard dashboard dashboard" "dashboard dashboard dashboard dashboard dashboard dashboard" "dashboard dashboard dashboard dashboard dashboard dashboard" "dashboard dashboard dashboard dashboard dashboard dashboard" "dashboard dashboard dashboard dashboard dashboard dashboard";
  }
}

.dashboardContainer {
  display: grid;
  grid-area: dashboard;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.dashboardContainer--graph {
  background-color: #ffffff;
  transition: 1s;
  border-radius: 1rem;
  opacity: 0.7;
}

.dashboardContainer--graph:hover {
  filter: saturate(1.1);
  opacity: 1;
}

.dashboardContainer__isDark {
  display: grid;
  grid-area: dashboard;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  border-radius: 1rem;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.dashboardContainer__isDark--graph {
  background-color: #28293d;
  border-radius: 1rem;
  opacity: 0.7;
  transition: 1s;
}

.dashboardContainer__isDark--graph:hover {
  filter: saturate(1.1);
  opacity: 1;
}

.sidebarContainer {
  display: grid;
  grid-area: sidebar;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #db4ed0;
  background: linear-gradient(180deg, #db4ed0 0%, #cf52de 35%, #be53ee 100%);
}

.sidebarContainer__top {
  display: grid;
  justify-content: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #f3f3f3;
}

.sidebarContainer__body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 100%;
  grid-template: 1fr;
}

.sidebarContainer__body--each {
  display: flex;
  font-size: 2rem;
}

.topBarContainer {
  grid-area: topBar;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
}

.topBarContainer input {
  width: 15rem;
  height: 1.5rem;
}

.topBarContainer__title {
  font-weight: 600;
}

.topBarContainer__list {
  display: flex;
  flex-flow: wrap row;
  padding-right: 2rem;
  width: 10rem;
  justify-content: space-between;
}

.topBarContainer__list li {
  cursor: pointer;
  transition: .5s;
}

.topBarContainer__list li:hover {
  transform: scale(1.1);
}

.topBarContainer__list img {
  width: 2rem;
  height: 2rem;
}

.statusCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  border-radius: 1rem;
  opacity: 0.75;
  transition: .5s;
  cursor: pointer;
}

.statusCard__icon {
  width: 30%;
  height: 100%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusCard__icon img {
  width: 30px;
  height: 30px;
}

.statusCard:hover {
  filter: saturate(1.1);
  opacity: 1;
}

.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100%;
  width: 100%;
  color: #f3f3f3;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.loginContainer {
  display: grid;
  min-height: 100vh;
  width: 100%;
  background-color: #1b1e28;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.loginContainer h1 {
  color: #db4ed0;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.loginContainer__form {
  display: grid;
  justify-content: center;
  grid-gap: 1rem;
  border-radius: 3rem;
  padding: 1rem;
  border: 60px solid transparent;
  border-image: linear-gradient(to bottom, #db4ed0 0%, #be53ee 100%) 1;
}

.loginContainer__form input {
  border-radius: 1vh;
  border: none;
  height: 2rem;
}

.loginContainer__form--error {
  display: grid;
  justify-content: center;
  color: red;
  font-weight: 700;
}

.loginContainer__form--success {
  display: grid;
  justify-content: center;
  color: green;
  font-weight: 700;
}

.loginContainer__form--button {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border: none;
  text-transform: uppercase;
  background-color: #be53ee;
  height: 2rem;
  border-radius: 1vh;
  width: 50%;
  cursor: pointer;
  font-weight: 700;
  opacity: 0.75;
  margin: 1vh auto 1vh auto;
  transition: 1s;
}

.loginContainer__form--button:hover {
  opacity: 1;
  filter: saturate(1.5);
}

.loginContainer__form--button#registerDisabled {
  display: grid;
  cursor: not-allowed;
  opacity: 0.5;
  filter: grayscale(2);
}
/*# sourceMappingURL=estilos.css.map */