html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.layout {
  display: grid;
  grid-template-areas: "topBar topBar topBar topBar topBar" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard";
  min-height: 100vh;
  grid-gap: 1rem;
  width: 100%;
  transition: 1s;
  color: #f3f3f3;
  background-color: #1b1e28;
}

.layout__isDark {
  display: grid;
  grid-template-areas: "topBar topBar topBar topBar topBar" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard" "sidebar dashboard dashboard dashboard dashboard";
  min-height: 100vh;
  grid-gap: 1rem;
  width: 100%;
  transition: 1s;
  background-color: #f3f3f3;
  color: #1b1e28;
}

.dashboardContainer {
  display: grid;
  grid-area: dashboard;
  background-color: #ffffff;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.dashboardContainer__isDark {
  display: grid;
  grid-area: dashboard;
  background-color: #28293d;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.sidebarContainer {
  display: grid;
  grid-area: sidebar;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: #db4ed0;
  background: linear-gradient(180deg, #db4ed0 0%, #cf52de 35%, #be53ee 100%);
}

.topBarContainer {
  grid-area: topBar;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
}

.topBarContainer input {
  width: 15rem;
  height: 1.5rem;
}

.topBarContainer__title {
  font-weight: 600;
}

.topBarContainer__list {
  display: flex;
  flex-flow: wrap row;
  padding-right: 2rem;
  width: 10rem;
  justify-content: space-between;
}

.topBarContainer__list li {
  cursor: pointer;
  transition: .5s;
}

.topBarContainer__list li:hover {
  transform: scale(1.1);
}

.topBarContainer__list img {
  width: 2rem;
  height: 2rem;
}
/*# sourceMappingURL=estilos.css.map */