$mainDarkBackgroundColour: #1b1e28;
$mainDarkContainerColour: #28293d;
$mainLightBackgroundColour: #f5f5f5;
$mainLightContainerColour: #ffffff;

.dashboardContainer {
    display: grid;
    grid-area: dashboard;
    background-color: $mainLightContainerColour;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    transition: 1s;
    &__isDark {
        display: grid;
        grid-area: dashboard;
        background-color: $mainDarkContainerColour;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }
}
